[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django-extensions = "*"
django-debug-toolbar = "*"
django-environ = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
twilio = "*"
python-dotenv = "*"
django-registration-redux = "*"
django-widget-tweaks = "*"
nodeenv = "*"
Django = "*"
Werkzeug = "*"
pytz = "*"

[requires]
python_version = "3.8"

[dev-packages]
prospector = "*"
