{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<main class="pa4 black-80">
    <form class="measure center" method="post" action="" enctype="multipart/form-data">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Register</legend>
            <div class="mt3">
                {% csrf_token %}
                {% for field in form %}
                <label class="db fw6 lh-copy f6" for="email-address">{{field.label_tag}}</label>
                <td class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100">
                    {{ field.errors }}
                    {{ field }}
                </td>
                {% endfor %}
            </div>
        </fieldset>
        <div class="">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit"
                value="{% trans 'Submit' %}" />
        </div>

    </form>
</main>






{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http: //docs.djangoproject.com/en/dev/topics/forms />`_ for
information on how to display this in a template.
{% endcomment %}