.messaging-container {
    width: 75%;
    margin: auto;
}

.message-box {
    overflow-y: auto;
    width: 100%;
    height: 500px;
    border: solid 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.message {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.username {
    text-decoration: underline;
}

.me {
    color: #0095E0;
}

.info-message {
    /* opacity: 80%; */
    color: rgba(102,102,102,0.8);
    font-size: 0.75rem;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-top: solid 1px;
    border-color: black;
    padding-top: 5px;
}

.message-container {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-top: solid 1px;
    padding-top: 5px;
}

.message-input {
    width: calc(100% - 130px);
    display: inline;
    float: left;
    height: 60px;
    resize: none;
    border-top: 0;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: black;
}

.message-button {
    width: 80px;
    height: 34px;
    vertical-align: top;
    float: right;
    border-radius: 3px;
    display: inline;
    font-size: 1.3rem;
    color: #f7f7f7;
    background-color: #9100E8;
    border: solid 2px;
    border-color: black;
    margin-right: 25px;
    margin-top: 13px;
}

.hidden {
    visibility: hidden;
}

.room-description {
    text-align: center;
}