.general-header {
    text-align: center;
    color: #f7f7f7;
    font-size: 2.5rem;
    background-color: #0095E0;
    /* width: 800px; */
    border: solid 2px;
    border-radius: 5px;
    padding: 20px;
    border-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 150px;
    border: solid 2px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
}

.messages-button {
    background-color: #9100E8;
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: #f7f7f7;
    text-decoration: none;
    border: solid 2px;
    border-radius: 5px;
    border-color: black;
    text-align: center;
    margin-right: 8px;
    margin: auto
}

.new-notif {
    margin-left: 8px;
}

.room-list-header {
    margin: auto;
    display: table;
}