{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block meta %}
<script src="{% static 'js/all_users.js' %}" defer></script>
<script src="{% static 'js/like.js' %}" defer></script>
{% endblock meta %}

{% block content %}

<div class="tc">

    <article class="mw12 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">

        <h2>All Users:</h2>




        {% for user2 in allusers %}
        {% if user2 != user %}

        <main class="mw6 center">
            <ul class="userInfo" class="dt w-100  pb2 mt2">
                <li id='user-selector' class="bb b--black-05">

                    <div id='{{user}}' class="dtc v-mid pl3">
                        <a class="f5 fw6 db black link dim" href="">{{user2}} &nbsp</a>
                        <p class="f6 fw4 mt0 mb0 black-90">Primary Language: {{user2.primary_language.name}}</p>
                        {% if user2.known_languages %}
                        <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Known Languages:</h1>
                        {% for language in user2.known_languages.all %}
                        <p class="f6 fw4 mt0 mb0 black-60">{{language.name}}</p>
                        {% endfor %}
                        {% endif %}
                        <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Want to learn:</h1>
                        {% for language in user2.wanted_languages.all %}
                        <p class="f6 fw4 mt0 mb0 black-60">{{language.name}}</p>
                        {% endfor %}
                        <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">{{user2.current_time_zone.name }}</h1>

                        {% localtime on %}
                        {{ value }}
                        {% endlocaltime %}

                        {% localtime off %}
                        {{ value }}
                        {% endlocaltime %}


                    </div>
                    <div class="dtc v-mid pl6">
                        <form class="w-100 tr">
                            <button class='f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60'
                                type='button' id='friend-{{user2}}'>Friend Request
                            </button>
                            <button class='f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60'
                                type='button' id='message-{{user2}}'>Message</button>
                            <button data-user='{{user2.id}}'
                                class='like f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60'
                                type='button'>Like
                            </button>

                            <button data-user='{{user2.id}}'
                                class='dislike f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60'
                                type='button'>Dislike</button>
                        </form>

                    </div>
                </li>
            </ul>
        </main>

        {% endif %}
        {% endfor %}



    </article>
</div>
{% endblock %}