{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <div class='center'> -->
<article class="tc mw5 bg-white br3 pa4-ns mv3 ba b--black-10">
    <div>
        <h1 class="f4">{{user}}</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <span id="likes">Positive Ratings: {{user.dislikes}}</span>
    <span id="dislikes">Negative Ratings: {{user.dislikes}}</span>

    <article class="dt w-100 bb b--black-05 pb2 mt2">
        <div class="dtc v-mid pl3">
            <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Primary Language</h1>

            <h2 class="f6 fw5 mt0 mb0 black-70">{{user.primary_language.name}}</h2>
        </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc v-mid pl3">
            <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Known Languages:</h1>

            {% for language in user.known_languages.all %}
            <h2 class="f6 fw4 mt0 mb0 black-70">{{language.name}}</h2>
            {% endfor %}
        </div>

    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc v-mid pl3">
            <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Want to learn:</h1>
            {% for language in user.wanted_languages.all %}
            <h2 class="f6 fw4 mt0 mb0 black-60">{{language.name}}</h2>
            {% endfor %}
            <h1 class="f6 f6-ns fw6 lh-title black-80 mv0">Time Zone:</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">{{user.current_time_zone.name }} {{now_est}} </h2>
        </div>
    </article>
    <div class="ph3">
        <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-green" href="{% url 'user_edit' %}">Update</a>
    </div>
</article>
<!-- </div> -->
{% endblock %}