{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="mw12 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
        <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
        <h1 class="f4">Mimi Whitehouse</h1>
        <hr class="mw3 bb bw1 b--black-10">

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
    <p class="lh-copy measure center f6 black-70">
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    </p>
    <div class="tc">
        <h3>Primary Language</h3>
        <p>{{user.primary_language.name}}</p>
    </div>
    <div class="dt mw6 center pv4 pv5-m pv6-ns">
        <div class="dtc v-top w-50-ns">
            <h3>Languages</h3>
            <ul class="list pl0 measure center">
                <li class="lh-copy pv3 bl-0 bt-0 br-0"></li>{{user.known_languages.name}}</li>
            </ul>
        </div>
        <div class="dtc v-top pl3 w-50-ns">
            <h3>Wanted Languages</h3>

            <ul class="list pl0 measure center">
                <li class="lh-copy pv3 bl-0 bt-0 br-0">{{user.wanted_languages.name}}</li>
            </ul>

        </div>
    </div>
    <div>
        <h2>All Users</h2>
        {% for user in allusers %}
        <a class="dt w-100 bb b--black-05 pb2 mt2" href="#">{{user}}</a>
        <form class="w-100 tr">
            <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">+
                Follow</button>
        </form>
        {% endfor %}
    </div>

    <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib black" href="#0">Add Friend</a>
    <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib black" href="#0">Message</a>
    <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib black" href="#0">Call</a>

</article>
{% endblock %}