{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static '/js/messaging.js' %}" defer></script>
{% endblock meta %}
{% block content %}
<h1>Messaging</h1>
{% for message in sent_messages %}
<p>{{ message.message }}</p>
{% endfor %}
{% for message in received_messages %}
<p>{{ message.message }}</p>
{% endfor %}

<form id="message-form">
    <input id='recipient-input' type='text' placeholder='who are you sending your message to?' required>
    <input id='message-input' type='text' placeholder="type your message" required>
    <button type='submit'>send message</button>
</form>
 

{% endblock content %}