{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static '/css/rooms-list.css' %}">
{% endblock meta %}
{% block content %}
<div class='room-list-header'>
  <h2 class='general-header'>Public Chat Rooms</h2>
</div>
<div class="container">
  {% for room in rooms %}
  <div class="card">
    <h3>{{room.description}}</h3>
    <div class="content">
      <a href="/rooms/{{room.slug}}" class="messages-button">Join Room</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}