{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js" defer></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" defer></script>
<script src="{% static 'js/messaging.js' %}" defer></script>
<link rel="stylesheet" href="{% static '/css/messaging.css' %}">
{% endblock meta %}

{% block content %}

<div>
    <h2 class='room-description'>{{room.description}}</h2>
</div>

<div class='messaging-container'>
    <div class='message-box' id="messages"></div>

    <form id="message-form">
        <div>
            <textarea class='message-input' id="message-input" placeholder="Your message here" rows="1" autofocus></textarea>
            <button type="submit" class='message-button'>Send</button>
        </div>
    </form>
</div>
<p>{{room.dm_notification}}</p>
<p id='room-name' class='hidden'>{{room.name}}</p>
<p id='room-privacy' class='hidden' >{{room.private}}</p>
{% endblock content %}