{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
<link rel="stylesheet" href="{% static '/css/rooms-list.css' %}">
{% endblock meta %}
{% block content %}
<h2 class='general-header'>My Direct Messages</h2>
  <section class="section">
    <div class="container">
      <div class="columns">
        {% for room in rooms_one %}
        <div class="column">
          <div class="card rounded-edges">
            <div class="card-content">
              <p class="title is-4">{{room.dm.description}}</p>
              <div class="content">
                <a href="/rooms/{{room.dm.slug}}" class="button">Show Messages</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% for room in rooms_two %}
        <div class="column">
          <div class="card rounded-edges">
            <div class="card-content">
              <p class="title is-4">{{room.dm.description}}</p>
              <div class="content">
                <a href="/rooms/{{room.dm.slug}}" class="button">Show Messages</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}