{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="tc">
    <article class="cf ph3 ph5-ns pv5">
        <div class="pv4 etutor-welcome-div">
            <div class="fn fl-ns w-50-ns height250">
                <h1 class='welcome-h1'>
                    eTutor
                </h1>
            </div>
            <div class="fn fl-ns w-50-ns welcome-logo">
                <img src="{% static 'images/logo_two.png' %}" alt="My image">
            </div>
        </div>
        <h2 class='welcome-h2'>What is eTutor?</h2>
        <div class="pv2">
            <hr class='welcome-hr'>
            <p class="f5 f4-m f4-l fw4 black-80 mt lh-copy avenir">eTutor is a website with the goal of connecting its
                users from around the globe
                and allowing them to tutor different languages to each other. We believe the best way to learn a new
                language is by speaking it
                with other people, and eTutor streamlines this process by providing a place for people to find others
                who want to teach and learn.
            </p>
        </div>
        <section class="mw7 center avenir">
            <article class="b--black-10">
                <a class="db ph0-l no-underline black dim" href="#0">
                    <div class="flex flex-column flex-row-ns">
                        <div class="ph3 f4 f4-l lh-copy">
                            <img src="https://www.educationalappstore.com/images/best-language-learning-apps-2.jpg"
                                class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                        </div>
                        <div class="ph3 f4 f4-l lh-copy">
                            <img src="https://www.educationalappstore.com/images/best-language-learning-apps-2.jpg"
                                class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </article>
</div>
{% endblock %}